
{% extends "base.html" %}
{% block content %}
      
    <div>
        <h1>Posts</h1>
        <div>
            {% if request.user.is_authenticated %}
                <p>Hello {{request.user}}</p>
            {% endif %}

            {% for post in posts %}
                <div>
                    {{post.user}} <br>
                    {{post.text}} <br>
                    {{post.created_at}} <br>
                    {{post.updated_at}} <br> <br>
                </div>
            {% endfor %}
            
        </div>
        <div>
            <a href="{% url 'posts' %}">Create your post</a> <br>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        

    </div>
    
{% endblock content %}